#comicContainer{
    text-align: center;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 4%;
}
#comicPage{
    width: 60%;
}
.imageLite{
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, .1);
}

