#peaF{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(255, 0, 98);
    background-image:linear-gradient(0deg,rgba(255, 119, 171, 0.6),rgba(255, 52, 130, 0.6)), url('narr/pea_title.PNG');
    background-position:center;
    background-size:cover; 
}
#peaF:hover{
    background-image:linear-gradient(0deg,rgba(255, 119, 171, 0.75),rgba(255, 52, 130, 0.75)), url('narr/pea_title.PNG');
}

#chessF{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(225, 0, 255);
    background-image:linear-gradient(0deg,rgba(51, 255, 194, 0.6),rgba(51, 255, 119, 0.6)), url('narr/chess_title.png');
    background-position:center;
    background-size:cover; 
}
#chessF:hover{
    background-image:linear-gradient(0deg,rgba(51, 255, 194, 0.75),rgba(51, 255, 119, 0.75)),url('narr/chess_title.png');
}

#bombF{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(4, 0, 255);
    background-image:linear-gradient(0deg,rgba(60, 57, 206, 0.75),rgba(78, 101, 231, 0.75)), url('narr/bomb_title.PNG');
    background-position:center;
    background-size:cover;
}
#bombF:hover{
    background-image:linear-gradient(0deg,rgba(60, 57, 206, 0.85),rgba(78, 101, 231, 0.85)), url('narr/bomb_title.PNG');
}
