#gamespritesF{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(225, 0, 255);
    background-image:linear-gradient(0deg,rgba(150, 78, 150, 0.83),rgba(150, 78, 150, 0.83)), url('anim/gamesButtonBG.png');
    background-position:center;
    background-size:cover; 
}
#gamespritesF:hover{
    background-image:linear-gradient(0deg,rgba(150, 78, 150,  0.9),rgba(150, 78, 150, 0.9)),url('anim/gamesButtonBG.png');
}

#mrbF{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(255, 0, 119);
    background-image:linear-gradient(0deg,rgba(206, 57, 126, 0.603),rgba(206, 57, 126, 0.603)), url('anim/mrbBG1smol.png');
    background-position:center;
    background-size:cover;
}
#mrbF:hover{
    background-image:linear-gradient(0deg,rgba(233, 47, 133, 0.75),rgba(233, 47, 133, 0.75)), url('anim/mrbBG1smol.png');
}

#fightF{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(0, 0, 0, 0.8);
    background-image:linear-gradient(0deg,rgba(150, 150, 150, 0.8),rgba(150, 150, 150, 0.8)), url('anim/fightBGsmol.PNG');
    background-position:center;
    background-size:cover;
}
#fightF:hover{
    background-image:linear-gradient(0deg,rgba(150, 150, 150, 0.95),rgba(150, 150, 150, 0.95)), url('anim/fightBGsmol.PNG');
}

#modelF{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(0, 82, 158);
    background-image:linear-gradient(0deg,rgba(93, 96, 255, 0.7),rgba(93, 96, 255,0.7)), url('anim/modelBG.PNG');
    background-position:center;
    background-size:cover;
}
#modelF:hover{
    background-image:linear-gradient(0deg,rgba(93, 96, 255,0.85),rgba(93, 96, 255,0.85)), url('anim/modelBG.PNG');
}
